body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

body.dialog-open {
    overflow: hidden;
}

/* Taulukon tyylit */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    /* Lisätty taulukon leveys */
}

th {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
}

.highlight {
    background-color: #fff;
    font-weight: bold;
}

colgroup {
    width: 20%;
    color: #ffffff;
}

/* Modaalin tyylit */
dialog#restaurant-modal {
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    overflow: auto;
    padding: 20px;
    border: none;
    border-radius: 8px;
    position: fixed;
    /* Tarvitaan sulje-painikkeen sijoitteluun */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Kevyt varjo modaalille */
    background-color: #fff;
    /* Varmistaa, että tausta on valkoinen */
}

dialog#restaurant-modal h3 {
    margin-top: 0;
}

/* Taulukon tyylit modaalissa */
dialog#restaurant-modal table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

dialog#restaurant-modal table th,
dialog#restaurant-modal table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

dialog#restaurant-modal table th {
    background-color: #f0f0f0;
}

/* Sulje-painikkeen tyylit */
#close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Sulje-painikkeen hover-efekti */
#close-modal-button:hover {
    color: #007BFF;
}

/* Modaalin sisällön tyylit */
#modal-content p {
    margin: 0.5em 0;
}

/* Media säännöt */